@{
    ViewBag.Title = "About CCC";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="text-center ">
<p>
    Hi, We're Community Clothing Co-op! We're a Utah Valley organization devoted to clothing those in need. We take donations of gently used clothing and provide them
    back to our community through our distribution center and local government agents. Use the link in the above toolbar to see our Contact page for hours, locations, and dates!
</p>
</div>

<h3>Clothing those in need one Donation at a time!</h3>
