@{
    ViewBag.Title = "Contact CCC";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    888 Provo Drive<br />
    Provo, UT 88888<br />
    <abbr title="Phone">P:</abbr>
    888.888.8888
</address>

<strong>Donation Hours: M-F 8:00 AM to 6:00 PM</strong>

<address>
    <strong>Support:</strong>   <a href="mailto:CCCsupport@CCC.com">CCCsupport@CCC.com</a><br />
    <strong>General Questions:</strong> <a href="mailto:CCCquestions@CCC.com">CCCquestions@CCC.com</a>
</address>