@{
    ViewBag.Title = "Home Page";
}


@*Bootstrap mobile sizing*@
<meta name="viewport" content="width=device-width, initial-scale-1" />

@*See the Db initializer page for the login for products*@

<div class="jumbotron">
    <div class="row">
        <div class="col-lg-6">
            <h1>Welcome to Community Clothing Co-op!</h1>
        </div>
        <div class="col-lg-6">
            <img src="~/Content/denim.jpg" width="512" height="256" alt="Denim" align="right" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <h2>Utah Valley Focused</h2>
        <p><i class="fa fa-5x fa-shirtsinbulk"></i></p>
        <p>
            Developed in Utah Valley, we are dedicated to Happy Valley communities in need.
        </p>
    </div>
    <div class="col-md-4 text-center">
        <h2>Easy to Access</h2>
        <p><i class="fa fa-5x fa-smile-o"></i></p>
        <p>Need help this winter? Contact the Utah Valley Office of Welfare or stop by our office in Provo. Click the Contact link in the above nav bar for hours and location</p>
    </div>
    <div class="col-md-4 text-center">
        <h2>Donations</h2>
        <p><i class="fa fa-5x fa-car"></i></p>
        <p>Stop by our office with your gently used clothing to help make a difference for families in need!</p>
    </div>
</div>

